.categoryCard {
  height: 250px;
  width: 80%;
  margin: 30px auto;
  /* border: 1px solid #495464; */
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 5px 1px rgba(73,84,100,0.86);
  -webkit-box-shadow: 4px 4px 5px 1px rgba(73,84,100,0.86);
  -moz-box-shadow: 4px 4px 5px 1px rgba(73,84,100,0.86);
}

.categoryCard:hover {
  box-shadow: none;
}

.categoryCard h3 {
  font-size: 1.8rem;
  letter-spacing: 4px;
  padding-top: 190px;
}

#sports {
  background-image: url("./../../images/sports.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#beauty {
  background-image: url("./../../images/beauty.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#creativity {
  background-image: url("./../../images/creativity.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#food-drink {
  background-image: url("./../../images/cocktails.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#performing-arts {
  background-image: url("./../../images/arts.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#performing-arts h3 {
  padding-top: 150px;
}

#languages {
  background-image: url("./../../images/languages.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#other {
  background-image: url("./../../images/other.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
