.edit-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  background-color: #bbbfca;
  padding: 20px;
}

.edit-form label {
  color: #495464;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.edit-form input {
  background-color: #f4f4f2;
  border: none;
  border-radius: 3px;
  width: 200px;
  margin: 20px auto;
}

.edit-form textarea {
  background-color: #f4f4f2;
  border: none;
  border-radius: 3px;
  width: 250px;
  margin: 20px auto;
}

/* #edit-form textarea {
    background-color: #f4f4f2;
    border: none;
    border-radius: 3px;
    width: 300px;
    margin: 20px auto;

} */

.category-checkboxes {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 500px;
  margin: 10px;
}

.checkbox-pair {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 12px;
  width: 50%;
  margin: 0px;
  text-align: right;
}

/* .checkbox-pair > label {
  display: flex;
  text-align: left;
  width: 200px;
  margin: 0px;
  align-self: center;
} */

/* .checkbox-pair > input {
  margin: 0px;
  background-color:aquamarine;
  
} */

.edit-host-workshop-btn {
  letter-spacing: 1px;
  width: 200px;
  margin: 20px auto;
  border: none;
  height: 40px;
  border-radius: 3px;
  background-color: limegreen;
}
