.edit-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  background-color: #bbbfca;
  padding: 20px;
}

.edit-form label {
  color: #495464;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.edit-form input {
  background-color: #f4f4f2;
  border: none;
  border-radius: 3px;
  width: 200px;
  margin: 20px auto;
}

.edit-form textarea {
  background-color: #f4f4f2;
  border: none;
  border-radius: 3px;
  width: 250px;
  margin: 20px auto;
}

/* #edit-form textarea {
    background-color: #f4f4f2;
    border: none;
    border-radius: 3px;
    width: 300px;
    margin: 20px auto;

} */

.category-checkboxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 400px;
}

.checkbox-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  text-align: right;
  width: 200px;
  margin: 0px;
}

.checkbox-pair label {
  text-align: right;
  width: 200px;
}

.price-tag {
  color: #495464;
}



/* .checkbox-pair > label {
  display: flex;
  text-align: left;
  width: 200px;
  margin: 0px;
  align-self: center;
} */

/* .checkbox-pair > input {
  margin: 0px;
  background-color:aquamarine;
  
} */

.edit-host-workshop-btn {
  letter-spacing: 1px;
  width: 200px;
  margin: 20px auto;
  border: none;
  height: 40px;
  border-radius: 3px;
  background-color: #357585;
  color: white;

}
