.navbar {
  display: inline-block;
  width: 100% !important;
  margin: 0 !important;
  background-color: #495464 !important;
}

#sun-btn {
  border: none;
  outline: none;
  background-color: #495464;
}

#moon-btn {
  outline: none;
  border: none;
  border-left: 1px solid;
  background-color: #495464;
}

.navbar-brand {
  color: #f4f4f2 !important;
  letter-spacing: 2px;
}

.navbar-toggler {
  outline: none;
}

.container-fluid {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
}

.nav-left img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }

  #mode-buttons {
    margin-left: 475px;
    font-size: 20px;
  }
}
