#footer-div {
  text-align: center;
  background-color: #495464;
  color: #f4f4f2;
  letter-spacing: 3px;
  height: 120px;
}

#disclaimer {
  font-size: 0.5rem;
  padding-top: 10px;
}

#follow-us {
  font-size: 0.8rem;
  padding-top: 30px;
}

#footer-div i {
  font-size: 0.8rem;
  padding: 8px;
}

/* @media (min-width: 768px) {
  #footer-div {
    height: 180px;
  }

  #follow-us {
    font-size: 1.1rem;
    padding-top: 50px;
  }

  #footer-div i {
    font-size: 1.1rem;
  }
} */
