.App {
  margin: 0;
}

/***********************************HOME PAGE******************************************/

#banner {
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/boat.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner h1 {
  text-align: center;
  font-size: 2.3rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-top: 40px;
  letter-spacing: 2px;
}

#banner p {
  text-align: center;
  font-size: 0.9rem;
  color: white;
  padding: 20px;
  letter-spacing: 2px;
}

#description-section {
  height: 300px;
  background-color: #f4f4f2;
  color: #495464;
  text-align: center;
}

#description-section h4 {
  padding: 30px 15px;
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}

#description-section p {
  color: grey;
  font-size: 0.9rem;
  padding: 0px 50px;
  margin-bottom: 40px;
}

#description-section button {
  height: 40px;
  width: 180px;
  border-radius: 3px;
  border-color: #495464;
  color: #495464;
  background-color: #e8e8e8;
  /* background-color: #357585; */
}

h2.category-info {
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  color: #495464;
  font-size: 1.5rem;
}

p.category-info {
  text-align: center;
  letter-spacing: 2px;
}

/********************************************Instrucions Page********************************************/

#instructions-banner {
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/instructions-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#instructions-banner h1 {
  font-size: 1.4rem;
  text-align: center;
  padding: 170px 15px;
  letter-spacing: 2px;
  line-height: 30px;
}

#instructions-container {
  margin: 20px;
}

#instructions-container h3 {
  text-align: center;
  color: #495464;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

#instructions-container li {
  margin: 10px 5px;
}

#instructions-container ul {
  margin-bottom: 30px;
}

/********************************************ProfilePage********************************************/

#profile-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 100%;
}

#profile-page section {
  min-height: 250px;
  text-align: center;
}

#profile-page section h2 {
  font-size: 25px;
  letter-spacing: 1px;
}

.empty-message {
  margin: 80px 30px;
  margin-bottom: 100px;
}



#user-container {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #e8e8e8;
}

#user-container div {
  margin-left: 10px;
}

#user-container div p {
  color: grey;
}

#welcome-message {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #495464;
}

#host-workshop-btn {
  margin: 0 auto;
  width: 250px;
}

#host-workshop-btn button {
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  margin: 20px auto;
  background-color: #357585;
  color: white;
}

/********************************************DetailsPage********************************************/

#details-container {
  margin: 20px;
}

.back-btn {
  color: #357585;
  margin-bottom: 30px;
}

#details-date {
  margin-top: 20px;
}

#details-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
}

#workshop-title {
  margin-left: 15px;
  color: #495464;
  letter-spacing: 2px;
  font-size: 1.9rem;
}

#details-img-container {
  width: 95%;
  margin: 0 auto;
}

.participant-img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
}

#info-card {
  margin: 20px auto;
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  background-color: #e8e8e8;
  color: #495464;
  font-size: 0.9rem;
}

#info-card p {
  padding: 2px;
  margin-bottom: 0rem;
}

#info-card i {
  padding: 7px;
}

#info-card h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 5px;
}

#host-div {
  display: flex;
  align-items: center;
}

#details-description {
  margin: 20px auto;
  width: 95%;
}

#attendees {
  font-size: 1.1rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

#signup-workshop-btn {
  width: 230px;
  margin: 0 auto;
}

#signup-workshop-btn button {
  border: none;
  border-radius: 5px;
  background-color: #495464;
  color: #f4f4f2;
  letter-spacing: 1px;
  height: 35px;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

/********************************************Signup********************************************/

#signup-page {
  text-align: center;
  background: url("./images/signup-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 40px;
}

#signup-page > form {
  /* border: 1px solid white; */
  height: 450px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#uploaded-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#signup-page h1 {
  color: #495464;
  font-size: 30px;
  letter-spacing: 2px;
}

#signup-page p {
  color: white;
}

#signup-page input {
  width: 200px;
  margin: 10px;
  height: 35px;
}

.signup-login-input {
  /* background-color: rgba(255, 255, 255, 0.5);
  border-color: #e8e8e8; */
  width: 200px;
  height: 35px;
  opacity: 0.8;
  text-align: center;
}

.signup-login-button {
  background-color: #495464;
  border: none;
  color: white;
  letter-spacing: 2px;
  width: 200px;
  height: 35px;
}

/********************************************Login********************************************/

#login-page {
  text-align: center;
  background-image: url("./images/login-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  padding-top: 40px;
}

#login-page > form {
  border: 1px solid white;
  height: 350px;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-bottom: 20px;
}

/* #login-page input {
  width: 200px;
  height: 35px;
  opacity: 0.9;
} */

#login-page h1 {
  margin-top: 20px;
  color: #495464;
  font-size: 30px;
  letter-spacing: 2px;
}
